<!DOCTYPE html>
<html lang="fr">
<meta charset="UTF-8">
<title>Disponibilité des parcs relais TCL</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link rel="icon" href="favicon.svg" type="image/svg+xml">
<link rel="manifest" href="manifest.json">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">

<script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.min.js" integrity="sha384-7qAoOXltbVP82dhxHAUje59V5r2YsVfBafyUDxEdApLPmcdhBPg1DKg1ERo0BZlK" crossorigin="anonymous"></script>
<script>
  navigator.serviceWorker && navigator.serviceWorker.register('service-worker.js').then(function(registration) {  
    console.log('Service worker enregistré.')
  });
</script>
<body>
  <div id="app" class="container-xl">
    <div class="d-flex mx-1 my-3">
      <div class="d-flex flex-grow-1">
        <div class="position-relative w-100">
          <div class="d-flex align-items-center h-100 position-absolute ms-3">
            <i class="bi bi-funnel"></i>
          </div>
          <input v-on:focus="this.focusSearch(true)" 
                 v-on:blur="this.focusSearch(false)" 
                 v-on:input="this.searchAndFilter"
                 :value="this.searchedValue"
                 type="text"
                 class="form-control ps-5 size-transition" 
                 placeholder="Filtrer les éléments" />
        </div>
      </div>
      <button v-show="!this.isSearchFocused && this.mode === 'home'" class="btn btn-link" @click="this.fetchData()">
        <i class="bi bi-arrow-clockwise"></i>
      </button>
      <button v-show="!this.isSearchFocused" class="btn btn-link" @click="this.toggleMode()">
        <i class="bi" :class="{'bi-gear': (this.mode === 'home'), 'bi-gear-fill': (this.mode === 'settings')}"></i>
      </button>
    </div>
    <div v-if="!this.displayedItems?.length" class="mx-3">
      <p v-if="this.loadingData">
        Chargement en cours...
      </p>
      <p v-else-if="this.searchedValue.length">
        Aucun résultat
      </p>
      <p v-else>
        Bienvenue,<br>
        Cliquez sur le rouage pour choisir les Parcs-Relais à afficher sur votre page d'accueil.
      </p>
    </div>
    <div v-for="park in this.displayedItems" 
         @click="this.showDetails(park)" 
         class="card my-2 mx-1 border-0"
         role="button"
         :class="{'bg-body-secondary bg-opacity-75': (mode === 'settings' || !park.showDetails), 'bg-primary-subtle': park.showDetails}">
      <div class="card-body">
        <div class="d-flex justify-content-between">
          <div class="fw-semibold mr-3">
            {{park.nom}}
          </div>
          <div v-if="this.mode === 'home'" :set="ratio = (park.nb_tot_place_dispo/park.capacite)" :class="{'placeholder-glow': this.loadingData}">
            <span v-if="this.loadingData" class="placeholder" style="min-width: 4rem;"></span>
            <span v-else-if="park.nb_tot_place_dispo === 0" class="text-danger">Complet</span>
            <span v-else-if="park.nb_tot_place_dispo == null || park.nb_tot_place_dispo === -1" class="fst-italic">Entrée libre</span>
            <span v-else :class="{ 'text-success': (ratio > 0.1), 'text-warning': (ratio <= 0.1) }">{{park.nb_tot_place_dispo}}/{{park.capacite}}</span>
          </div>
          <div v-else>
            <button class="btn btn-link" @click="this.toggleFavorite(park)">
              <i v-if="this.isFavorite(park)" class="bi bi-star-fill"></i>
              <i v-else class="bi bi-star"></i>
            </button>
          </div>
        </div>
        <div v-show="this.mode === 'settings' || park.showDetails" class="row mt-2">
          <div class="col fw-light">
            <div style="font-size: 0.8rem;">{{park.horaires}}</div>
            <div v-if="park.showDetails" class="mt-2 text-end">
              <button class="btn btn-link p-0 text-decoration-none" style="font-size: 0.8rem;" @click="this.directionsTo(park.coordinates)">
                <i class="bi bi-sign-turn-slight-right-fill"></i> Calculer un itinéraire
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
<script>
  const { createApp } = Vue;

  createApp({
    data() {
      return {
        parkList: [],
        savedFavorites: [],
        isSearchFocused: false,
        loadingData: false,
        searchedValue: '',
        mode: 'home'
      }
    },
    mounted() {
      this.fetchData();
      const storageItem = localStorage.getItem('favorites');
      this.savedFavorites = storageItem ? JSON.parse(storageItem) : [];
    },
    computed: {
      favorites() {
        return this.parkList.filter(park => this.isFavorite(park));
      },
      displayedItems() {
        const source = (this.mode === 'settings') ? this.parkList : this.favorites;
        if(this.searchedValue) {
          return source.filter(park => park.nom.match(new RegExp(this.searchedValue, 'i')));
        }
        return source;
      }
    },
    methods: {
      fetchData() {
        this.loadingData = true;
        fetch('./data').then((response) => {
          if(response.ok) {
            response.json().then(data => {
              this.parkList = data.features.map(park => {
                return {
                  id: park.properties.id,
                  nom: park.properties.nom.replace('Parc Relais TCL ', ''),
                  horaires: park.properties.horaires,
                  capacite: park.properties.capacite,
                  nb_tot_place_dispo: park.properties.nb_tot_place_dispo,
                  coordinates: park.geometry.coordinates[0],
                };
              }).sort((a, b) => a.nom.localeCompare(b.nom));
              this.loadingData = false;
            });
          }
        })
      },
      showDetails(park) {
        if(this.mode === 'home') {
          park.showDetails = !park.showDetails;
        }
      },
      toggleMode() {
        if(this.mode === 'home') {
          this.mode = 'settings';
        } else {
          this.mode = 'home';
        }
        this.parkList.forEach(park => park.showDetails = false);
        this.searchedValue = '';
      },
      focusSearch(state) {
        this.isSearchFocused = state;
      },
      searchAndFilter(event) {
        this.searchedValue = event.target.value?.trim();
      },
      isFavorite(park) {
        return this.savedFavorites.includes(park.id);
      },
      toggleFavorite(park) {
        let savedFav = this.savedFavorites;
        if(savedFav.includes(park.id)) {
          savedFav = savedFav.filter(e => e !== park.id);
        } else {
          savedFav = [...savedFav, park.id];
        }
        localStorage.setItem('favorites', JSON.stringify(savedFav));
        this.savedFavorites = savedFav;
      },
      directionsTo(coordinates) {
        window.location.href = 'https://www.google.com/maps/dir/?api=1&destination=' + coordinates[1] + '%2c' + coordinates[0];
      }
    }
  }).mount('#app')
</script>
</html>